@{
    ViewBag.Title = "Forget Your Password?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="message success">
    Instructions to reset your password have been sent to the specified email address.
</p>
