@{
    ViewBag.Title = "Password Reset Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Password Reset Success</h2>
<p class="message success">
    Password changed! Click <a href="@Url.Action("LogOn", "Account")" title="Login">here</a> to login.
</p>
