<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    
    <connectionStrings xdt:Transform="Replace">
        <add name="MasterDatabase" connectionString="Data Source=db.moolendar.com,47815;Initial Catalog=TopbitTest;User ID=e2dev;Password=xA123456" providerName="System.Data.SqlClient"/>
    </connectionStrings>

    <appSettings xdt:Transform="Replace">
        <add key="DatabaseConfig" value="/ActiveRecord.test.config"/>
        <add key="LoggingConfig" value="/log4net.test.config"/>
    </appSettings>
    
    <system.web xdt:Transform="Replace">
        <compilation debug="true"/>
        <customErrors mode="Off" />
        <httpRuntime requestPathInvalidCharacters="&lt;,&gt;,*,%,&amp;,\" />
        <httpModules>
            <add name="BitCoinService" type="App.Web.Service.BitCoinRapidService, topbit.api"/>
        </httpModules>
    </system.web>
    
</configuration>