<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
    <configSections>
        <sectionGroup name="DeepBot">
            <section name="Settings" type="System.Configuration.NameValueSectionHandler"/>
            <section name="Instances" type="System.Configuration.NameValueSectionHandler"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MasterDatabase" connectionString="Data Source=db.moolendar.net;Initial Catalog=Topbit;User ID=e2dev;Password=xA123456" providerName="System.Data.SqlClient"/>
    </connectionStrings>

    <appSettings>
        <add key="webpages:Version" value="1.0.0.0"/>
        <add key="ClientValidationEnabled" value="true"/>
        <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
        <add key="autoFormsAuthentication" value="false" />
        <add key="LoggingConfig" value="/log4net.debug.config"/>
        <add key="DatabaseConfig" value="/ActiveRecord.debug.config"/>
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="WebMatrix.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="WebMatrix.WebData, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="topbit.web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </assemblies>
        </compilation>
        
        <customErrors mode="Off" />
            
        <authentication mode="Forms">
            <forms loginUrl="~/Account/Login" timeout="2880" />
        </authentication>

        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages"/>
                <add namespace="App.Web.Helpers" />
            </namespaces>
        </pages>
        
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
    
    <DeepBot>
        <Instances>
            <add key="slush's pool" value="http://api.bitcoin.cz:8332/"/>
            <add key="deepbit" value="http://deepbit.net:8332/"/>
            <add key="GetCoin" value="http://getcoin.org:8332/"/>
            <add key="BTC Guild" value="http://www.btcguild.com:8332/"/>
            <add key="BitPenny" value="http://bitpenny.com:8332/"/>
            <add key="BitCoin Pool" value="http://bitcoinpool.com:8332/"/>
            <add key="BTC Mine" value="http://btcmine.com:8332/"/>
            <add key="BitClockers" value="http://bitclockers.com:8332/"/>
            <add key="TopBit" value="http://api.topb.it:8332/"/>
        </Instances>
    </DeepBot>
</configuration>
