  <div class="freeregistration">
    <div class="registration"><a href="#" class="free">FREE</a> Registration </div>
  </div>
  <div class="search_area">
    <div class="search_box">
      <label>
      <input name="textfield" type="text" class="searchtextbox" />
      </label>
    </div>
    <div class="search_go">
      <div align="center"><a href="#" class="go">GO</a></div>
    </div>
    <div class="search_box">&raquo; <a href="#" class="advancesearch">Advance Search</a></div>
  </div>
